/* General styles */
body {
  background: linear-gradient(135deg, #838383 25%, #ebebeb 100%);
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background: linear-gradient(135deg, #00a676, #6a4fc6, #00a676, #6a4fc6);
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
}

/* Form container */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensures the container takes the full height of the viewport */
}

/* Form */
.auth-form {
  background-color: rgba(106, 79, 198, 0.9); /* Slightly transparent purple background */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
  color: white;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.auth-form h2 {
  margin-bottom: 20px;
  text-align: center;
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.form-group {
  margin-bottom: 15px;
  animation: slideIn 1s ease-in-out;
}

.input-icon {
  position: relative;
}

.input-icon input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  animation: fadeIn 1.5s ease-in-out;
}

.input-icon i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #ccc;
  animation: fadeIn 1.5s ease-in-out;
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  animation: slideIn 1s ease-in-out;
}

.form-options label {
  display: flex;
  align-items: center;
}

.form-options a {
  color: #ccc;
  text-decoration: none;
  animation: fadeIn 1.5s ease-in-out;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  color: #6a4fc6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  animation: fadeIn 1.5s ease-in-out;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ddd;
}

.auth-form p {
  margin-top: 15px;
  color: #ccc;
  animation: fadeIn 1.5s ease-in-out;
}

.auth-form p a {
  color: #fff;
  text-decoration: none;
  animation: fadeIn 1.5s ease-in-out;
}
