/* Reset some basic elements to remove margin and padding */
body, html, div, ul, li, button {
  
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f8f9fa;
}

.App {
  display: flex;
  height: 100vh;
}

.top-nav, .hr-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #784197;
  color: white;
  padding: 10px 20px;
}

.leftNav {
  width: 260px;
  background-color: #351c50;
  color: white;
  padding: 20px;
}

.leftNav .employeeDetail img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.leftNav .employeeDetail h1 {
  font-size: 18px;
  margin: 10px 0;
}

.leftNav .employeeDetail p {
  margin: 5px 0;
}

.leftNav .sidebar-menu {
  list-style: none;
}

.leftNav .sidebar-menu li {
  margin: 20px 0;
}

.leftNav .sidebar-menu li button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.admin-dashboard-container {
  display: flex;
  flex: 1;
}

.sidebar {
  background-color: #343a40;
  color: white;
  width: 250px;
  padding: 10px;
  position: relative;
  transition: width 0.3s;
}

.sidebar.open {
  width: 7%;
}

.sidebar.closed {
  width: 20%;
}

.toggle-sidebar-btn {
  background: none;
  width: fit-content;
  display: contents;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
}

.sidebar-menu li {
  margin: 20px 0;
}

.sidebar-menu li button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-align: left;
  padding: 10px;
  width: 100%;
}

.sidebar-menu li button:hover {
  background-color: #495057;
}

.admin-dashboard-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.hr-dashboard {
  width: 100%;
}

.hr-header h2 {
  margin: 0;
}

.hr-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.hr-main .add-employee-btn {
  align-self: flex-start;
  background-color: green;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin: 20px 0;
}

.hr-main .employee-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.hr-main .employee-list li {
  list-style: none;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  cursor: pointer;
  width: 200px;
  text-align: center;
}

.hr-main .employee-list li:hover {
  background-color: #f0f0f0;
}
