.admin-dashboard {
  display: flex;
  height: 100vh;
}

.admin-dashboard-container {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 200px;
  background-color: #f0f0f0;
  transition: width 0.3s;
  overflow: hidden;
}

.closed {
  width: 50px !important;
}


.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.toggle-sidebar-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  
}

.admin-dashboard-content {
  flex: 1;
  padding: 20px;
}
