.admin-dashboard {
  text-align: center;
  padding: 20px;
}

.admin-dashboard ul {
  list-style-type: none;
  padding: 0;
}

.admin-dashboard li {
  margin: 10px 0;
}

.admin-dashboard a {
  text-decoration: none;
  color: #00a676;
  font-weight: bold;
}

.admin-dashboard a:hover {
  text-decoration: underline;
}
