.employee-dashboard {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.employee-dashboard-container {
  display: flex;
  flex: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 60px;
  background-color: #2c3e50;
  color: white;
  padding: 10px;
  transition: width 0.3s;
  position: relative;
}

.sidebar.open {
  width: 250px;
}

.sidebar.closed {
  width: 60px;
}

.sidebar-menu {
  flex-grow: 1;
  list-style: none;
  padding: 0;
  margin-top: 50px;
}

.sidebar-menu li {
  margin: 10px 0;
}

.sidebar-menu li button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  color: white;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.sidebar-menu li button:hover {
  background-color: #34495e;
}

.sidebar-menu li button span {
  margin-left: 10px;
  display: inline-block;
}

.logout-btn {
  width: 80%;
  padding: 10px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
}

.employee-dashboard-content {
  flex: 1;
  padding: 20px;
}

.toggle-sidebar-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  align-self: flex-end;
}

.tasks-table,
.conges-table {
  width: 100%;
  border-collapse: collapse;
}

.tasks-table th,
.tasks-table td,
.conges-table th,
.conges-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.tasks-table th,
.conges-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.tasks-table tr:hover,
.conges-table tr:hover {
  background-color: #ddd;
}
